:root {
  --primary-lightest: #c9d7ed;
  --primary-lighter: #98b8ee;
  --primary-light: #72a1f1;
  --primary-primary: #4485f1;
  --primary-dark: #396fc8;
  --primary-darker: #285195;
  --primary-darkest: #18315c;

  --grey-lightest: #f6f6f6;
  --grey-lighter: #eeeeee;
  --grey-light-plus: #e4e4e4;
  --grey-light: #d2d2d2;
  --grey-semi: #b8b8b8;
  --grey-medium: #909090;
  --grey-dark: #3e3e3e;
  --grey-darker: #2a2a2a;
  --grey-darkest: #1a1a1a;

  --warning-lightest: #fff1d7;
  --warning-lighter: #ffe4af;
  --warning-light: #ffcf74;
  --warning-warning: #ffbb38;
  --warning-dark: #b38327;
  --warning-darker: #664b16;
  --warning-darkest: #33250b;

  --error-lightest: #f9d0d0;
  --error-lighter: #f2a2a2;
  --error-light: #e95c5c;
  --error-error: #df1616;
  --error-dark: #9c0f0f;
  --error-darker: #590909;
  --error-darkest: #2d0404;

  --success-lightest: #d5e7da;
  --success-lighter: #a2d1af;
  --success-light: #52c770;
  --success-success: #20c443;
  --success-dark: #11832f;
  --success-darker: #055720;
  --success-darkest: #00230c;

  --text: #646464;
  --black: #000000;
  --white: #ffffff;

  --elevation-high: 0 16px 60px 0 rgba(0, 0, 0, 0.1);
  --elevation-medium: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  --elevation-low:  0 10px 15px 0 rgba(0, 0, 0, 0.1);
  --elevation-lowest: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  --elevation-high-hover: 0 24px 120px 0 rgba(0, 0, 0, 0.2);
  --elevation-medium-hover: 0 16px 60px 0 rgba(0, 0, 0, 0.2);
  --elevation-low-hover: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  --elevation-lowest-hover:  0 10px 15px 0 rgba(0, 0, 0, 0.2);

  /* 8 point rule for margins, paddings, etc. */
  --quarter-spacing: 2px;
  --half-spacing: 4px;
  --single-spacing: 8px;
  --double-spacing: 16px;
  --triple-spacing: 24px;
  --tetra-spacing: 32px;
  --penta-spacing: 40px;
  --hexa-spacing: 48px;
  --octa-spacing: 64px;
  --deca-spacing: 80px;
  --dozen-spacing: 96px;

  /* Available font-sizes */
  --micro-font-size: 10px;
  --tiny-font-size: 11px;
  --compact-font-size: 12px;
  --small-font-size: 14px;
  --medium-font-size: 18px;
  --moderate-font-size: 19px;
  --big-font-size: 24px;
  --jumbo-font-size: 32px;
}
